
<% console.log(waterproofingBasecoats.query); %>
<div class="container">
 <h2>Material Waterproofing Basecoat costs</h2>

<p>There are  <%= waterproofingBasecoats.query.length %> waterproofing basecoats. <br/>
<a href="waterproofingBasecoat/create"><button type="button" class="btn btn-primary"> <span class="glyphicon glyphicon-pencil"></span> New Entry</button>
</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Display Order</th>
        <th>Price</th>
        <th>Unit</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < waterproofingBasecoats.query.length; i++) { %>
         <tr>
            <td><%=  waterproofingBasecoats.query[i]._id %>	</td>
            <td><%=  waterproofingBasecoats.query[i].name %></td>
            <td><%=  waterproofingBasecoats.query[i].displayorder %></td>
            <td><%=  waterproofingBasecoats.query[i].price %></td>
            <td><%=  waterproofingBasecoats.query[i].unit %></td>
            <td>
							<a href="waterproofingBasecoat/delete/<%=  waterproofingBasecoats.query[i]._id %>"> <button type="button" class="btn btn-danger"> <span class="glyphicon glyphicon-trash"></span> Delete</button> </a> &nbsp
							<a href="/waterproofingBasecoat/details/<%= waterproofingBasecoats.query[i]._id %>"> <button type="button" class="btn btn-info"> <span class="glyphicon glyphicon-list-alt"> Details</button></a> &nbsp
							<a href="waterproofingBasecoat/edit/<%=    waterproofingBasecoats.query[i]._id %>"> <button type="button" class="btn btn-warning"><span class="glyphicon glyphicon-edit"></span> Edit</button> </a>
						</td>
         </tr>
         <% } %>
</tbody>
</table>
</div>

<!--  This model is managed by Team 4-14
Mudduluru Saikrishna
Malpani Sresth
Govindu Madanamohan
-->