
<% console.log(estimatePartFootages.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartFootages.query.length %> entries. <br/>
<a href="estimatePartFootage/create" class="btn btn-primary"><span class="glyphicon glyphicon-pencil"></span>Add a new one.</a></p>

<table class="table" border="1">
	<thead>
		<tr>
			<th>ID</th>
			<th>SqFt</th>
			<th>Length</th>
			<th>Width</th>
			<th>Display Order</th>
			<th>Actions</th>
		</tr>
	</thead>
    <tbody>
	<% for (var i = 0; i < estimatePartFootages.query.length; i++) { %>
	<tr>
		<td><%=  estimatePartFootages.query[i]._id %></td>
		<td><%=  estimatePartFootages.query[i].sqft %></td>
		<td><%=  estimatePartFootages.query[i].length %></td>
		<td><%=  estimatePartFootages.query[i].width %></td>
		<td><%=  estimatePartFootages.query[i].displayorder %></td>
		<td>
			<a href="estimatePartFootage/delete/<%= estimatePartFootages.query[i]._id %>" class="btn btn-danger" >	<span class="glyphicon glyphicon-trash"></span> Delete </a>  
            <a href="estimatePartFootage/details/<%= estimatePartFootages.query[i]._id %>"class="btn btn-info">	  <span class="glyphicon glyphicon-list-alt"></span> Details</a> 
            <a href="estimatePartFootage/edit/<%= estimatePartFootages.query[i]._id %>"class="btn btn-warning"> <span class="glyphicon glyphicon-edit"></span>  Edit </a> 
		</td>
	</tr>
	<% } %>
	</tbody>
</table>
</div>
<!-- this view is managed by Team 4-4
Sivareddy Mekapothula
Amarishwer Edam
Vikas Bavikadi -->