<div class="container">
<h2> Details of RoofingBasecoat</h2>
</br>
</br>
<p> Item
	<%= roofingBasecoats._id %>
</p>
<p>	Name
	<%= roofingBasecoats.name %>
</p>
<p>Price
	<%= roofingBasecoats.price %>
</p>
<p>defaultCoverageSqFt
	<%= roofingBasecoats.defaultCoverageSqFt %>
</p>
<p>Unit
	<%= roofingBasecoats.unit%>
</p>
<p>Display Order
	<%= roofingBasecoats.displayorder %>
</p>
<form method="get" action="/roofingBasecoats">
	<input type="submit" value="Return to List" class="btn btn-primary"
</form>
</div>
