<% console.log(roofingBasecoats.query); %>
<div class="container">
 <h2>Material roofing basecoat costs</h2>

<p>There are  <%= roofingBasecoats.query.length %> roofing basecoats. <br/>
<a target="blank" href="/roofingBasecoat/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Display Order</th>
        <th>Price</th>
        <th>Unit</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < roofingBasecoats.query.length; i++) { %>
         <tr>
            <td><%=  roofingBasecoats.query[i].name %></td>
            <td><%=  roofingBasecoats.query[i].displayorder %></td>
            <td><%=  roofingBasecoats.query[i].price %></td>
            <td><%=  roofingBasecoats.query[i].unit %></td>
            <td>
            <a target="blank" href="/roofingBasecoat/delete"<%= roofingBasecoats.query[i].id %>"><%style:"color:red"%>Delete</style></a> | 
            <a  target="blank" href="/roofingBasecoat/details"  <%= roofingBasecoats.query[i].id %>"> Details</a> |
            <a target="blank" href="/roofingBasecoat/edit" <%= roofingBasecoats.query[i].id %>">  Edit </a> 
            
            </td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
<!-- These views are managed by Team 4-13-->
<!-- Jaswanth Jonnalagadda-->
<!--Haritha Arikapudi-->
<!--Susmitha patlolla-->
