<br/>
<br/>
<h2>Confirm deletion of aggregate cost</h2>
<br/>
<br/>
<p>ID 	<%=  estimatePartAggregate._id %> </p>
<p> isUsed? 	<%=  estimatePartAggregate.isUsed %> </p>
<p>
	Type : <%=  estimatePartAggregate.type %> </br>
	Selection :	<%=  estimatePartAggregate.selection %> </br>
    Coverage :    <%=  estimatePartAggregate.coverage %> per </br>
	Subtotal:	<%=  estimatePartAggregate.subtotal %> </br>
</p>

<br/>
<form method="get" action="/estimatePartAggregate">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/aggregate_cost/delete/<%= estimatePartAggregate._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>

<!--// This model is managed by Team R09
// Sandip Subedi
// Matthew Woolery
Dhanalakota Neelesh Varma-->
