<br/>
<br/>
<h2>Confirm deletion of aggregate cost</h2>
<br/>
<br/>
<strong>ID:</strong> 	<%=  estimatePartAggregate._id %>  </br>
<strong>isUsed? </strong>	<%=  estimatePartAggregate.isUsed %> </br>
<strong>Aggregate Type : </strong> <%=  estimatePartAggregate.aggregateTypeSelection %> </br>
<strong>Material Selection : </strong>	<%=  estimatePartAggregate.aggregateMaterialSelection %> </br>
<strong>Unit Price :   </strong> <%=  estimatePartAggregate.unitPrice %> per </br>
<strong>Unit :   </strong> <%=  estimatePartAggregate.unit %> per </br>
<strong>Coverage Sqft :   </strong> <%=  estimatePartAggregate.coverageSqFt %> </br>
<strong>Subtotal: </strong>	<%=   (parseFloat(estimatePartAggregate.coverageSqFt) *parseFloat(estimatePartAggregate.perSqft)).toFixed(2)   %> </br>
<strong>Per Sqft :   </strong> <%=  estimatePartAggregate.perSqft %> </br>

<br/>
<form method="get" action="/estimatePartAggregate">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/estimatePartAggregate/delete/<%= estimatePartAggregate._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>

<!--// This model is managed by Team R09
// Sandip Subedi
// Matthew Woolery
Dhanalakota Neelesh Varma-->
