<br/>
<br/>
<h2>Edit waterproofing primer product</h2>
<div class="content">
	<div>
		<form method="POST" action="/estimatePartAggregate/save/<%= estimatePartAggregate._id %>">

			
			<div class="form-group" id=frm>
				<label for="_id">ID</label>
				<input type="number" class="form-control" id="_id" name="_id" value="<%= estimatePartAggregate._id %>" required disabled>
			</div>

			<div class="form-group">
				<label for="isUsed">Uses Aggregate</label>
				<input type="checkbox" class="form-control" id="isUsed" name="isUsed" value="<%= estimatePartAggregate.isUsed %>"  <%= estimatePartAggregate.isUsed ? "checked" : "" %> >
			</div>

			<div class="form-group">
				<label for="aggregateTypeSelection">Aggregate Type Selection</label>
					<select id="floorSystemType" name="aggregateTypeSelection" class="form-control selcls">
						<option> sand</option>
						<option> quartz</option>
						<option> flake</option>
						<option selected style="font-weight:bold"><%= estimatePartAggregate.aggregateTypeSelection%></option>
					</select>
			</div>
				<% tempid= estimatePartAggregate._id %>
						<% tempid= tempid-1 %>
				<% temp = estimatePartAggregates.query[tempid].aggregateMaterialSelection %>

	
			<div class="form-group">
				<label for="aggregateMaterialSelection">Aggregate Material Selection</label>
					<select name="aggregateMaterialSelection" class="form-control selcls">
	 					<%  for (var i = 0; i < estimatePartAggregates .query.length ; i++){  %>
	 						<option value="<%= estimatePartAggregates.query[i].aggregateMaterialSelection %>"><%= estimatePartAggregates.query[i].aggregateMaterialSelection %></option>
						<%    }  %>

							<% temp = estimatePartAggregates.query[tempid].aggregateMaterialSelection %>
						 <option selected style="font-weight:bold"><%= temp %></option>
					</select> 
			</div>

				<div class="form-group">
						<label for="coverageSqFt">Unit Price:</label>
						<input type="number" class="form-control" id="unitPrice" name="unitPrice" value="<%= estimatePartAggregate.unitPrice %>" required>
					</div>
				<div class="form-group">
						<label for="coverageSqFt">Unit:</label>
						<input type="text" class="form-control" id="unit" name="unit" value="<%= estimatePartAggregate.unit %>" required>
				</div>

			<div class="form-group">
				<label for="coverageSqFt">Coverage Sq. Ft.</label>
				<input type="number" class="form-control" id="coverageSqFt" name="coverageSqFt" value="<%= estimatePartAggregate.coverageSqFt %>" required>
			</div>
		<div class="form-group">
				<label for="subtotal">$/Sqft</label>
				<input type="number" class="form-control" id="perSqft" name="perSqft" value="<%= estimatePartAggregate.perSqft %>" required>
			</div>

			<input type="submit" value="Save" class="btn btn-primary" />
		</form>
		<br/>
		<form method="get" action="/estimatePartAggregate">
			<input type="submit" value="Return to list" class="btn btn-caution" />
		</form>
	</div>
</div>

<!--// This model is managed by Team R09
// Sandip Subedi
Dhanalakota Neelesh Varma
// Matthew Woolery
-->