<% console.log(estimatePartAggregates.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartAggregates.query.length %> entries. <br/>
<a href="estimatePartAggregate/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>isUsed?</th>
        <th>Type</th>
        <th>Selection </th>
        <th>Coverage</th>
        <th>Subtotal</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartAggregates.query.length; i++) { %>
         <tr>
            <td><%=  estimatePartAggregates.query[i]._id %></td>
            <td><%=  estimatePartAggregates.query[i].isUsed %></td>
            <td><%=  estimatePartAggregates.query[i].aggregateTypeSelection %></td>
            <td><%=  estimatePartAggregates.query[i].aggregateMaterialSelection %></td>
            <td><%=  estimatePartAggregates.query[i].coverageSqFt %></td>
            <td><%=  estimatePartAggregates.query[i].subtotal %></td>

              <td>
							<a href="estimatePartAggregates/delete/<%=  estimatePartAggregates.query[i]._id %>"class="btn btn-danger" >	<span class="glyphicon glyphicon-trash"></span> Delete </a>
							<a href="estimatePartAggregates/details/<%= estimatePartAggregates.query[i]._id %>"class="btn btn-info">	  <span class="glyphicon glyphicon-list-alt"></span> Details </a>
							<a href="estimatePartAggregates/edit/<%=    estimatePartAggregates.query[i]._id %>"class="btn btn-warning"> <span class="glyphicon glyphicon-edit"></span> Edit </a>
						</td>
					</tr>
					<% } %>
			</tbody>
		</table>
	</div>

  
<!--// This model is managed by Team R09
// Sandip Subedi
// Matthew Woolery
Dhanalakota Neelesh Varma-->

