<% include ..\..\views\header.ejs %>
<% console.log(estimatePartAggregates.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartAggregates.query.length %> entries. <br/>
<a href="aggregate_cost/create.ejs">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>isUsed?</th>
        <th>Type</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartAggregates.query.length; i++) { %>
         <tr>
            <td><%=  estimatePartAggregates.query[i].isUsed %></td>
            <td><%=  estimatePartAggregates.query[i].aggregateTypeSelection %></td>
            <td>
             <a target="blank" href="/estimatePartAggregate/delete/"<%= estimatePartAggregates.query[i].id %>"><%style:"color:red"%>Delete</style></a> | 
            <a  target="blank" href="/estimatePartAggregate/details/"  <%= estimatePartAggregates.query[i].id %>"> Details</a> |
            <a target="blank" href="/estimatePartAggregate/edit/" <%= estimatePartAggregates.query[i].id %>">  Edit </a> 
            
            </td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
