<br/>
<br/>
<h2>Details for Estimate Part Flooring</h2>
<br/>
<br/>
<strong>ID: </strong> 	<%=  estimatePartFlooring._id %>  </br>
<strong>Type: </strong><%=  estimatePartFlooring.floorSystemType %> </br>
<strong>UsesErethane? </strong> 	<%=  estimatePartFlooring.usesUrethane %> </br>
<strong>Urethane Product Selection:	</strong><%=  estimatePartFlooring.urethaneProductSelection %> </br>
<strong>Urethane Coverage: </strong>   <%=  estimatePartFlooring.urethaneCoverageSqFt %> </br>
<strong>usesEpoxy? </strong> 	<%=  estimatePartFlooring.usesEpoxy %> </br>
<strong>Epoxy Product Selection:	</strong><%=  estimatePartFlooring.expoxyProductSelection %> </br>
<strong>Epoxy Coverage : </strong>   <%=  estimatePartFlooring.expoxyCoverageSqFt %> </br>
<strong>Subtotal: </strong>	<%=  estimatePartFlooring.subtotal %> </br>
<br/>
<form method="get" action="/estimatePartFlooring">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>


<!-- This model is managed by Team 4-5
     Chaitanya Kiran Moturu
     Manikanteswara Rao Earla
     Sainath Gulla --> 
