<br/>
<br/>
<script src="/js/estimatePartFlooring.js"></script>
<h2>Edit Estimate Part Flooring</h2>
<div class="content">
	<div>

		<form method="POST" action="/estimatePartFlooring/save/<%= estimatePartFlooring._id %>">

			
			<div class="form-group" id=frm>
				<label for="_id">ID</label>
				<input type="number" class="form-control" id="_id" name="_id" value="<%= estimatePartFlooring._id %>" required disabled>
			</div>

			 <div class="form-group">
					<label for="floorSystemType">Floor System Type</label>
					<select id="floorSystemType" name="floorSystemType" class="form-control selcls">
						<option> Epoxy</option>
						<option> Decorative Expoxy</option>
						<option> Urethane</option>
						<option selected style="font-weight:bold"><%= estimatePartFlooring.floorSystemType%></option>
					</select>
					<!--<input type="text" class="form-control" id="floorSystemType" name="floorSystemType" value="Epoxy" required>-->
				</div>

				<div class="form-group">
					<label for="usesUrethane">Uses Erethane ?</label>
					<input type="checkbox" class="form-control" id="usesUrethane" name="usesUrethane" <%= estimatePartFlooring.usesUrethane ? "checked" : "" %>
				</div>

				<!-- <div class="form-group">
					<label for="urethaneProductSelection">Urethane Product Selection:</label>
					<input type="text" class="form-control" id="urethaneProductSelection" name="urethaneProductSelection" required>
				</div> -->

					

				<div id="flooringOptions">
				<div class="form-group">
					<label for="urethaneProductSelection">Urethane Product Selection (<%= flooringCoatings.query.length %>):</label>
					<select name="urethaneProductSelection" class="form-control selcls">
	 					<%  for (var i = 0; i < flooringCoatings.query.length ; i++){  %>
	 						
							 <option value="<%= flooringCoatings.query[i].name %>"><%= flooringCoatings.query[i].name %></option>
													 
						<%    }  %>

						<% tempid= estimatePartFlooring._id %>
						<% tempid= tempid-1 %>
											
						<% temp = estimatePartFloorings.query[tempid].urethaneProductSelection.name %>
						 <option selected style="font-weight:bold"><%= temp %></option>
					</select>
				</div>


				<div class="form-group">
					<label for="urethaneCoverageSqFt">Urethane Coverage SqFt:</label>
					<% temp = estimatePartFloorings.query[tempid].urethaneCoverageSqFt %>
					<input type="number" class="form-control" id="urethaneCoverageSqFt" name="urethaneCoverageSqFt" min="80" max="200" required value="<%= temp%>">
				</div>

				</div> 
			
			<!-- for showing and hiding jquery -->

			   <div class="form-group">
					<label for="usesEpoxy">Uses Epoxy ?</label>
					<input type="checkbox" class="form-control" id="usesEpoxy" name="usesEpoxy" <%= estimatePartFlooring.usesEpoxy ? "checked" : "" %>>
				</div>
				
				<div id="flooringOptions2">
				<div class="form-group">
					<label for="expoxyProductSelection">Epoxy Product Selection (<%= flooringCoatings.query.length %>):</label>
					<select name="expoxyProductSelection" class="form-control selcls">
	 					<%  for (var i = 0; i < flooringCoatings.query.length ; i++){  %>
	 						<option value="<%= flooringCoatings.query[i].name %>"><%= flooringCoatings.query[i].name %></option>
						<%    }  %>

							<% temp = estimatePartFloorings.query[tempid].expoxyProductSelection.name %>
						 <option selected style="font-weight:bold"><%= temp %></option>
					</select>
				</div>
				

				<div class="form-group">				
					<label for="expoxyCoverageSqFt">Epoxy Coverage SqFt:</label>
					<% temp = estimatePartFloorings.query[tempid].expoxyCoverageSqFt %>
					<input type="number" class="form-control" id="expoxyCoverageSqFt" name="expoxyCoverageSqFt" value="<%=temp%>" min="100" max="400" required>
				</div>
     			</div> 
	 <!-- for showing and hiding from jquery -->

			
			<input type="submit" value="Save" class="btn btn-primary" />
		</form>
		<br>
		<form method="get" action="/estimatePartFlooring">
			<input type="submit" value="Return to list" class="btn btn-caution" />
		</form>
	</div>
</div>


<!-- This model is managed by Team 4-5
     Chaitanya Kiran Moturu
     Manikanteswara Rao Earla
     Sainath Gulla --> 
