<br/<br/>
<br/>
<h2>Edit Estimate Part Flooring</h2>
<div class="content">
	<div>
		<form method="POST" action="/estimatePartFlooring/save/<%= estimatePartFlooring._id %>">

			
			<div class="form-group" id=frm>
				<label for="_id">ID</label>
				<input type="number" class="form-control" id="_id" name="_id" value="<%= estimatePartFlooring._id %>" required disabled>
			</div>

			
			<div class="form-group">
				<label for="type">Floorig Type Selection</label>
				<input type="text" class="form-control" id="type" name="unit" value="<%= estimatePartFlooring.floorSystemType %>" required>
			</div>

            <div class="form-group">
				<label for="type">Uses Erethane ?</label>
				<input type="checkbox" class="form-control" id="type" name="unit" value="<%= estimatePartFlooring.usesUrethane %>">
			</div>

            <!--<div class="form-group">
				<label for="type">Urethane Product Selection:</label>
				<input type="text" class="form-control" id="type" name="unit" value="<%= estimatePartFlooring.urethaneProductSelection %>" required>
			</div> -->

			<div class="form-group">
				<label for="urethaneProductSelection">Urethane Product Selection (<%=     flooringCoatings.query.length    %>):</label>
				<select name="urethaneProductSelection">
	 				<%  for (var i = 0; i < flooringCoatings.query.length ; i++){  %>
	 					<option value="<%= flooringCoatings.query[i]._id %>"><%= flooringCoatings.query[i].name %></option>
					<%    }  %>
				</select>
			</div>
			
            <div class="form-group">
				<label for="urethaneCov">Urethane Coverage:</label>
				<input type="number" class="form-control" id="type" name="urethaneCov" value="<%= estimatePartFlooring.urethaneCoverageSqFt %>" required>
			</div>

            <div class="form-group">
				<label for="usesEpo">Uses Epoxy?</label>
				<input type="checkbox" class="form-control" id="type" name="usesEpo" value="<%= estimatePartFlooring.usesEpoxy %>">
			</div>
                        
			<!-- <div class="form-group">
				<label for="epoProduct">Epoxy Product Selection:</label>
				<input type="text" class="form-control" id="epoProduct" name="epoProduct" value="<%= estimatePartFlooring.expoxyProductSelection %>" required>
			</div> -->

			<div class="form-group">
				<label for="expoxyProductSelection">Epoxy Product Selection (<%= flooringCoatings.query.length %>):</label>
				<select name="expoxyProductSelection">
	 				<%  for (var i = 0; i < flooringCoatings.query.length ; i++){  %>
	 					<option value="<%= flooringCoatings.query[i]._id %>"><%= flooringCoatings.query[i].name %></option>
					<%    }  %>
				</select>
			</div>

            <div class="form-group">
				<label for="epoCoverage">Epoxy Coverage:</label>
				<input type="number" class="form-control" id="epoCoverage" name="epoCoverage" value="<%= estimatePartFlooring.expoxyCoverageSqFt %>" required>
			</div>
            

		    <div class="form-group">
				<label for="subtotal">Subtotal</label>
				<!--<input type="number" class="form-control" id="subtotal" name="subtotal" value="<%= estimatePartFlooring.subtotal %>" required>-->
				<% 
                    var sqft = 2000;
                    var urethaneCost = 0;
                    var epoxyCost = 0;
                    var subTotal = urethaneCost  + epoxyCost;
                 %>
                <%=  subTotal %>
			</div>

			<input type="submit" value="Save" class="btn btn-primary" />
		</form>
		<br/>
		<form method="get" action="/estimatePartFlooring">
			<input type="submit" value="Return to list" class="btn btn-caution" />
		</form>
	</div>
</div>


<!-- This model is managed by Team 4-5
     Chaitanya Kiran Moturu
     Manikanteswara Rao Earla
     Sainath Gulla --> 
