
<% console.log(estimatePartMileages.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartMileages.query.length %> entries. <br/>
<a href="estimatePartMileage/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>ID</th>
        <th>description</th>
        <th>numberOfVehicles</th>
        <th>startLocation</th>
        <th>endLocation</th>
        <th>milesPerDrive</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartMileages.query[0].entries.length; i++) { %>
         <tr>
            <td><%=  estimatePartMileages.query[0].entries[i]._id %></td>
            <td><%=  estimatePartMileages.query[0].entries[i].description %></td>
            <td><%=  estimatePartMileages.query[0].entries[i].numberOfVehicles %></td>
            <td><%=  estimatePartMileages.query[0].entries[i].startLocation %></td>
            <td><%=  estimatePartMileages.query[0].entries[i].endLocation %></td>
            <td><%=  estimatePartMileages.query[0].entries[i].milesPerDrive %></td>
            <td><a href="estimatePartMileage/delete/<%= i+1 %>"> Delete</a> | <a href="estimatePartMileage/details/<%= i+1 %>"> Details</a> | <a href="estimatePartMileage/edit/<%= i+1 %>"> Edit</a></td>
         </tr>
         <% } %>
</tbody>
</table>
</div>

<!-- This model is managed by Team 4-11 --> 
<!--  Nuli Kartik -->
<!-- Bapuji Dirisala-->

