
<% console.log(waterproofingTopcoats.query); %>
<div class="container">
 <h2>Material waterproofing topcoat costs</h2>

<p>There are  <%= waterproofingTopcoats.query.length %> waterproofing topcoat products. <br/>
<a href="waterproofingTopcoat/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>Name</th>
        <th>Display Order</th>
        <th>Price</th>
        <th>Unit</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < waterproofingTopcoats.query.length; i++) { %>
         <tr>
            <td><%=  waterproofingTopcoats.query[i].name %></td>
            <td><%=  waterproofingTopcoats.query[i].displayorder %></td>
            <td><%=  waterproofingTopcoats.query[i].price %></td>
            <td><%=  waterproofingTopcoats.query[i].unit %></td>
            <td>
							<a href="waterproofingTopcoat/delete/<%=  waterproofingTopcoats.query[i]._id %>"> Delete </a> |
							<a href="waterproofingTopcoat/details/<%= waterproofingTopcoats.query[i]._id %>"> Details </a> |
							<a href="waterproofingTopcoat/edit/<%=    waterproofingTopcoats.query[i]._id %>"> Edit </a>
						</td>
         </tr>
         <% } %>
</tbody>
</table>
</div>
<<<<<<< HEAD

<!-- This model is designed by team 4-14
Saikrishna Mudduluru
Sresth Malpani
Govindu Madanamohan -->


=======
>>>>>>> 90c0f1484aaf4f9c508a6ee20204f2a0c8ca3f4b
