<br/>
<br/>
<h2>Confirm deletion of flooring estimate</h2>
<br/>
<br/>
<p>Item
	<%=  flooringEstimate._id %>
</p>
<p>
	client : <%=  flooringEstimate.estimatePartAbout.client %>
</p>
<p>
	created : <%=  flooringEstimate.estimatePartAbout.created %>
</p>
<p>
	address : <%=  flooringEstimate.estimatePartAbout.address %>
</p>
<p>
	city : <%=  flooringEstimate.estimatePartAbout.city %>
</p>
<p>
	state : <%=  flooringEstimate.estimatePartAbout.state %>
</p>
<p>
	zipcode : <%=  flooringEstimate.estimatePartAbout.zipcode %>
</p>
<p>
	sqft : <%=  flooringEstimate.estimateSquareFootage.sqft %>
</p>
<p>
	costPerSquareFoot : <%=  flooringEstimate.costPerSquareFoot %>
</p>
<p>
	bidPerSquareFoot : <%=  flooringEstimate.bidPerSquareFoot %>
</p>

<br/>
<form method="get" action="/flooringEstimate">
	<input type="submit" value="Return to list" class="btn btn-caution" />
</form>
<br/>
<form method="POST" action="/flooringEstimate/delete/<%= flooringEstimate._id %>">
	<input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
</form>
<!-- this controller managed by 4-01-->
<!--katta srikar reddy-->
<!--Ravulaparthi swami sai anuraag-->