
<% console.log(estimatePartMiscs.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartMiscs.query.length %> entries. <br/>
<a href="estimatePartMisc/create">Add a new one.</a></p>

<table class="table" border="1">
    <thead>
      <tr>
        <th>Subtotal</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartMiscs.query.length; i++) { %>
         <tr>
            <td><%=  estimatePartMiscs.query[i].subtotal %></td>
            <td><a href="estimatePartMisc/delete/<%= i+1 %>"> Delete</a>  <a href="estimatePartMisc/details/<%= i+1 %>"> Details</a> <a href="estimatePartMisc/edit/<%= i+1 %>"> Edit</a></td>
         </tr>
         <% } %>
</tbody>
</table>
</div>

<!-- This model is managed by Team 4-11 --> 
<!--  Nuli Kartik -->
<!-- Bapuji Dirisala-->

