<!-- This model is managed by Team 4-11 --> 
<!--  Nuli Kartik -->
<!-- Bapuji Dirisala -->

<% console.log(estimatePartMiscs.query); %>
<div class="container">
 <h2>All entries</h2>

<p>There are  <%= estimatePartMiscs.query.length %> entries. <br/>
<a class = "btn btn-info" href="estimatePartMisc/create">  <i class = "glyphicon glyphicon-pencil"></i> New Entry</a></p>

<table class="table" border="1">
    <thead>
      <tr>
       <th>ID</th>
       <th>Description</th>
       <th>Cost</th>
       <th>Actions</th>
    </tr>
    </thead>
    <tbody>
<% for (var i = 0; i < estimatePartMiscs.query.length; i++) { 
    var totalCost = 0;
     for(var j=0; j<estimatePartMiscs.query[i].entries.length;j++){
        var entry = estimatePartMiscs.query[i].entries[j];
      %>
        <tr>
            <td> <%= entry._id %></td>
            <td> <%= entry.description %></td>
            <td> $<%= entry.cost %></td>
            <% totalCost += entry.cost %>
            <td>
              <a class = "btn btn-info" href="estimatePartMisc/details/<%= entry._id %>"><i class = "glyphicon glyphicon-list-alt"></i> Details</a> 
              <a class = "btn btn-warning" href="estimatePartMisc/edit/<%= entry._id %>" >  <i class = "glyphicon glyphicon-edit"></i> Edit </a> 
              <a class = "btn btn-danger" href="estimatePartMisc/delete/<%= entry._id %>"> <i class = "glyphicon glyphicon-trash"></i> Delete </a> </td>
            </td>
        </tr>
    <%  } %>
         <tr>
            <td colspan="4" > Total Estimated Miscellaneous Cost :   $<%=  totalCost %>  </tbody></td>
         </tr>
         <% } %>
</tbody>
</table>
</div>

